* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body,
html {
    height: 100%;
    background-color: #eef2f5;
    display: flex;
    background-image: url("/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 250px;
    background-color: #4caf50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: 100vh;
    position: sticky;
    top: 0;
}

.logo {
    margin-bottom: 40px;
}

.menu {
    width: 100%;
}

.menu button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 15px;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #388e3c;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
}

.form-container {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #4caf50;
    outline: none;
}

.button-group .btn {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.agregar {
    background-color: #4caf50;
}

.btn.agregar:hover {
    background-color: #388e3c;
}

.btn.editar:hover {
    background-color: #ff8f00;
}

.btn.eliminar:hover {
    background-color: #d32f2f;
}

.btn.buscar {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn.buscar:hover {
    background-color: #388e3c;
}

#descripcion-reporte {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
}

#descripcion-reporte:focus {
    border-color: #4caf50;
    outline: none;
}

.btn.generar-reporte {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
    width: 100%;
}

.btn.generar-reporte:hover {
    background-color: #388e3c;
}

.logo {
    max-width: 90%;
}

/* ori */
